html,
      body {
        overflow: hidden; 
      }
      img {
        max-height: 800px;
        object-fit: contain; /* 保持图片原比例，填充容器 */
      }
button {
  padding:6px;
  font-size:18px;
  color:#fff;
  background-color:#00000080;
  backdrop-filter :blur(10px);
}
input[type=text] {
  border: 2px solid rgb(78, 78, 78);
  border-radius: 4px;
}
.vertical-scroll-container {
  height: 1000px;
  border: 1px solid #ccc;
  overflow-y: auto; /* 只关心垂直滚动条 */
  overflow-x: hidden; /* 隐藏水平滚动条，即使内容溢出 */
}
