html,
      body {
        overflow: hidden; 
      }
      img {
        max-height: 800px;
        object-fit: contain; /* 保持图片原比例，填充容器 */
      }
button {
  padding:6px;
  font-size:18px;
  color:#fff;
  background-color:#00000080;
  backdrop-filter :blur(10px);
}
input[type=text] {
  border: 2px solid rgb(78, 78, 78);
  border-radius: 4px;
}